.card {
  float: left;
  background-size: 100%;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background-image: url("../img/card-back.png") !important;
  background-size: 100%;
}

.hand {
  overflow: auto;
}
